.header {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1rem;
}

.header svg {
  font-size: 2rem;
  margin-right: 1rem;
}

.header-logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.header-logo img {
  width: 4rem;
  height: 4rem;
}
