.header {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1rem;
  justify-content: space-between;
}
.header-left{
  display: flex;
  align-items: center;
}

.header :first-child svg{
  margin-right: 1rem;
}
.header svg{
  font-size: 2rem;
}

.header-logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.header-logo img {
  width: 4rem;
  height: 4rem;
}
