@keyframes cardHoverAnimation {
  0% {
    transform: scale(1);
    z-index: 1; /* 초기 z-index */
  }
  50% {
    transform: scale(1.25);
    z-index: 10; /* 50% 지점에서 z-index 변경 */
  }
  100% {
    transform: scale(1.5);
    z-index: 10; /* 최종 z-index 유지 */
  }
}

@keyframes cardAnimation {
  0% {
    transform: scale(1.5);
    z-index: 10; /* 초기 z-index */
  }
  50% {
    transform: scale(1.25);
    z-index: 1; /* 50% 지점에서 z-index 변경 */
  }
  100% {
    transform: scale(1);
    z-index: 1; /* 최종 z-index 유지 */
  }
}

/* card 호버 css */
.card-hover {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.625rem;
  border-radius: 0.5rem;
  /* animation: cardHoverAnimation 0.3s ease-in-out; */
  transition: transform 0.3s ease-in-out;
  transform: scale(1.5);
  z-index: 10;
}
.card-hover .card__cover {
  margin-bottom: 0;
  aspect-ratio: 0;
  height: 100%;
}
.card-hover .card__description {
  display: none;
}
.card__cover_iframe {
  height: 100%;
  width: 100%;
}
.card-left {
  transform-origin: left;
}
.card-right {
  transform-origin: right;
}

/* 기본 card css */
.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3125rem;
  padding: 0.625rem;
  /* animation: cardAnimation 0.3s ease-in-out; */
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}

.card * {
  width: 100%;
}

.card__cover {
  position: relative;

  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 12px;
}

.card__cover__img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__channel-title {
  font-size: 0.875rem;
  color: var(--channel-title);
}
.card__channel-title:hover {
  color: var(--channel-title-hover);
}

.card__title {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.card__description {
  font-size: 0.875rem;
}

.card__published-at {
  font-size: 0.75rem;
  color: #686868;
}
