.comment-form {
  /* 임시 */
  margin-bottom: 3.125rem;
}
.comment-form__textarea {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--el-text-color);
  resize: none;
  outline: none;
  font-family: inherit;
  font-size: 1.4rem;
  overflow: hidden;
  /* padding: 0 1rem; */
  background-color: var(--textarea-bg-color);
  color: var(--text-color);
}
.comment-form__textarea:focus {
  border-bottom: 2px solid var(--el-text-color);
}

.comment-form__buttons {
  margin-top: 0.625rem;
  display: flex;
  gap: 0.5rem;
}
.comment-form__buttons > * {
  padding: 0.5rem 1rem;
  border: 1px solid var(--des-bg-color);
  border-radius: 1rem;
  cursor: pointer;
}
.comment-form__buttons__reset {
  margin-left: auto;
  border: none;
  background-color: inherit;
  color: var(--el-text-color);
  cursor: pointer;
}
.comment-form__buttons__submit {
  background-color: #027fdb;
  color: white;
  cursor: pointer;
}
.comment-form__buttons__reset:hover,
.comment-form__buttons__submit:disabled {
  background-color: var(--des-bg-color);
  color: var(--el-text-color);
}
.comment-form__buttons__reset:disabled {
  cursor: initial;
}
