.comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  position: relative;
}

.comment:hover .comment__ellipsis {
  display: block;
}

.comment__container {
  margin-right: 4.375rem;
}

.comment__user {
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  margin-right: 0.3125rem;
}

.comment__created-at {
  font-size: 1.2rem;
  color: #686868;
}
.comment__text {
  margin-top: 0.625rem;
  font-size: 1.4rem;
  max-width: fit-content;
  word-break: break-all;
  white-space: pre-line;
}
.comment__ellipsis {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 10%;
  right: 0;
  font-size: 1.125rem;
  color: var(--el-text-color);
  cursor: pointer;
}

.comment__button-list {
  display: none;
}

.comment__ellipsis.active {
  display: block;
}

.comment__ellipsis.active + .comment__button-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -4.25rem;
  top: 2.5625rem;
  width: 6.25rem;
  background-color: #eee;
  z-index: 10;
  border-radius: 0.625rem;
  overflow: hidden;
}

.comment__button-list button {
  padding: 10px 0;
}
.comment__button-list button:hover {
  background-color: #ddd;
}
.comment__button-list button:first-child {
  border-bottom: 1px solid #fff;
}

@media (max-width: 1050px) {
  .comment__button-list {
    right: 0;
  }
}
