.detail-main {
  display: flex;
  gap: 1.875rem;
}

.left-section {
  display: flex;
  flex-direction: column;
  flex: 2.5;
}

.left-section > :nth-child(2) {
  width: 100%;
  margin-bottom: 5rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 1050px) {
  .detail-main {
    gap: 5rem;
    flex-direction: column;
  }
}
