.card {
  display: flex;
  align-items: start;
  gap: 0.3125rem;
  margin-bottom: 1.25rem;
}
.card * {
  width: 100%;
}

/* .card:hover {
    background-color: #686868;
  } */

.card__cover {
  /* position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer; */

  width: 168px;
  height: 94px;
  display: block;
  position: relative;
  flex: none;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.card__cover__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__cover__iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__channel-title {
  font-size: 0.875rem;
  color: #686868;
  color: var(--channel-title);
}
.card__channel-title:hover {
  color: black;
  color: var(--channel-title-hover);
}

.card__title {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.card__description {
  font-size: 0.875rem;
}

.card__published-at {
  font-size: 0.75rem;
  color: #686868;
}
