.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error__content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  font-weight: bold;
}

.error__content img {
  width: 5rem;
  height: 5rem;
}
